<a href="https://colab.research.google.com/github/racrijoli/FinalProject_Coderhouse/blob/main/Projeto_Final%20II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
# Importando bibliotecas

import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport

# Estilo dos gráficos
mpl.style.use("ggplot")

# Preparando os dados.

In [13]:
# Importando a base

data = pd.read_csv("/content/ESS10.csv")
data.head()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (506,507) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,pweight,name,essround,edition,proddate,idno,cntry,dweight,prob,stratum,...,ginwe,hinwe,iinwe,kinwe,vinwe,inwde,jinws,jinwe,inwtm,domain
0,0.217716,ESS10e01_3,10,1.3,4.10.2022,10002,BG,1.032306,0.000628,67,...,2021-07-24 13:05:44,2021-07-24 13:11:27,2021-07-24 13:11:35,2021-07-24 13:12:20,2021-07-24 13:12:21,2021-07-24 13:13:01,2021-07-24 13:12:33,2021-07-24 13:13:06,53.0,NaN
1,0.217716,ESS10e01_3,10,1.3,4.10.2022,10006,BG,0.879120,0.000737,68,...,2021-08-28 08:04:49,2021-08-28 08:07:22,2021-08-28 08:07:39,2021-08-28 08:14:39,2021-08-28 08:14:43,2021-08-28 08:36:39,2021-08-28 08:25:43,2021-08-28 08:36:49,36.0,NaN
2,0.217716,ESS10e01_3,10,1.3,4.10.2022,10009,BG,1.006098,0.000644,57,...,2021-07-15 21:26:27,2021-07-15 21:33:51,2021-07-15 21:34:36,2021-07-15 21:42:37,2021-07-15 21:42:49,2021-07-15 21:44:59,2021-07-15 21:43:42,2021-07-15 21:45:50,93.0,NaN
3,0.217716,ESS10e01_3,10,1.3,4.10.2022,10024,BG,0.955327,0.000678,30,...,2021-08-01 13:16:03,2021-08-01 13:19:41,2021-08-01 13:20:15,2021-08-01 13:24:40,2021-08-01 13:24:46,2021-08-08 17:42:17,2021-08-01 13:25:19,2021-08-08 17:42:20,57.0,NaN
4,0.217716,ESS10e01_3,10,1.3,4.10.2022,10027,BG,0.841009,0.000770,20,...,2021-07-24 18:02:21,2021-07-24 18:08:15,2021-07-24 18:09:09,2021-07-24 18:16:57,2021-07-24 18:17:07,2021-07-24 18:19:22,2021-07-24 18:18:09,2021-07-24 18:19:29,103.0,NaN

In [15]:
# Filtrando as variáveis

data_filtro = data.loc[:, ["cntry", "nwspol", "netustm", "ppltrst", "polintr",
                           "psppsgva", "trstprl", "trstlgl", "trstplt",
                           "trstep", "vote", "stfgov", "stfdem", "happy",
                           "gndr", "agea"]]
data_filtro

,cntry,nwspol,netustm,ppltrst,polintr,psppsgva,trstprl,trstlgl,trstplt,trstep,vote,stfgov,stfdem,happy,gndr,agea
0,BG,80,6666,5,4,1,3,2,3,4,2,4,4,6,2,76.0
1,BG,63,180,0,1,4,5,8,6,8,1,3,8,9,1,43.0
2,BG,390,405,5,3,3,3,3,3,6,1,2,2,5,2,50.0
3,BG,60,80,5,4,1,2,2,0,3,2,2,0,3,2,51.0
4,BG,120,120,4,1,3,0,0,0,0,1,9,3,3,1,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18055,SK,120,6666,5,4,3,3,2,7,4,1,3,4,5,1,67.0
18056,SK,90,120,7,2,3,7,7,8,8,1,8,10,8,1,63.0
18057,SK,30,6666,0,2,3,1,1,1,4,1,4,7,7,1,48.0
18058,SK,30,90,2,4,3,2,0,7,4,1,2,2,7,2,49.0
18059,SK,30,6666,5,4,4,7,6,6,8,1,7,8,7,2,36.0

In [16]:
# Limpando os dados inválidos das variáveis

data_filtro = data_filtro.loc[(data_filtro["nwspol"] != 7777) &
                              (data_filtro["nwspol"] != 8888) &
                              (data_filtro["nwspol"] != 9999)]
data_filtro = data_filtro.loc[(data_filtro["netustm"] != 6666) &
                              (data_filtro["netustm"] != 7777) &
                              (data_filtro["netustm"] != 8888) &
                              (data_filtro["netustm"] != 9999)]
data_filtro = data_filtro.loc[(data_filtro["ppltrst"] != 77) &
                              (data_filtro["ppltrst"] != 88) &
                              (data_filtro["ppltrst"] != 99)]
data_filtro = data_filtro.loc[(data_filtro["polintr"] != 7) &
                              (data_filtro["polintr"] != 8) &
                              (data_filtro["polintr"] != 9)]
data_filtro = data_filtro.loc[(data_filtro["psppsgva"] != 7) &
                              (data_filtro["psppsgva"] != 8) &
                              (data_filtro["psppsgva"] != 9)]
data_filtro = data_filtro.loc[(data_filtro["trstprl"] != 77) &
                              (data_filtro["trstprl"] != 88) &
                              (data_filtro["trstprl"] != 99)]
data_filtro = data_filtro.loc[(data_filtro["trstlgl"] != 77) &
                              (data_filtro["trstlgl"] != 88) &
                              (data_filtro["trstlgl"] != 99)]
data_filtro = data_filtro.loc[(data_filtro["trstplt"] != 77) &
                              (data_filtro["trstplt"] != 88) &
                              (data_filtro["trstplt"] != 99)]
data_filtro = data_filtro.loc[(data_filtro["trstep"] != 77) &
                              (data_filtro["trstep"] != 88) &
                              (data_filtro["trstep"] != 99)]
data_filtro = data_filtro.loc[(data_filtro["vote"] != 7) &
                              (data_filtro["vote"] != 8) &
                              (data_filtro["vote"] != 9)]
data_filtro = data_filtro.loc[(data_filtro["stfgov"] != 77) &
                              (data_filtro["stfgov"] != 88) &
                              (data_filtro["stfgov"] != 99)]
data_filtro = data_filtro.loc[(data_filtro["stfdem"] != 77) &
                              (data_filtro["stfdem"] != 88) &
                              (data_filtro["stfdem"] != 99)]
data_filtro = data_filtro.loc[(data_filtro["happy"] != 77) &
                              (data_filtro["happy"] != 88) &
                              (data_filtro["happy"] != 99)]
data_filtro

,cntry,nwspol,netustm,ppltrst,polintr,psppsgva,trstprl,trstlgl,trstplt,trstep,vote,stfgov,stfdem,happy,gndr,agea
1,BG,63,180,0,1,4,5,8,6,8,1,3,8,9,1,43.0
2,BG,390,405,5,3,3,3,3,3,6,1,2,2,5,2,50.0
3,BG,60,80,5,4,1,2,2,0,3,2,2,0,3,2,51.0
4,BG,120,120,4,1,3,0,0,0,0,1,9,3,3,1,70.0
5,BG,60,60,3,1,1,0,0,0,5,2,0,0,5,2,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18048,SK,100,60,3,2,4,4,5,4,6,1,5,5,8,1,79.0
18052,SK,150,120,8,2,2,8,9,9,9,1,7,8,7,1,73.0
18053,SK,195,150,4,2,3,5,2,3,6,1,1,2,5,2,40.0
18056,SK,90,120,7,2,3,7,7,8,8,1,8,10,8,1,63.0
18058,SK,30,90,2,4,3,2,0,7,4,1,2,2,7,2,49.0

# Análise Exploratória de Dados.

In [17]:
# Dados estatísticos

data_filtro.describe()

,nwspol,netustm,ppltrst,polintr,psppsgva,trstprl,trstlgl,trstplt,trstep,vote,stfgov,stfdem,happy,gndr,agea
count,11326.000000,11326.000000,11326.000000,11326.000000,11326.000000,11326.000000,11326.000000,11326.000000,11326.000000,11326.000000,11326.000000,11326.000000,11326.000000,11326.000000,11278.000000
mean,69.691948,220.024457,5.107275,2.708105,2.208635,4.349197,5.092530,3.579728,4.799400,1.380717,4.384867,5.111955,7.494879,1.539643,45.411598
std,97.892146,175.286357,2.512497,0.876628,0.951819,2.726275,2.830565,2.494772,2.608498,0.614494,2.676846,2.658553,1.829202,0.498448,16.323836
min,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,15.000000
25%,30.000000,90.000000,3.000000,2.000000,1.000000,2.000000,3.000000,2.000000,3.000000,1.000000,2.000000,3.000000,7.000000,1.000000,33.000000
50%,60.000000,180.000000,5.000000,3.000000,2.000000,5.000000,5.000000,4.000000,5.000000,1.000000,5.000000,5.000000,8.000000,2.000000,45.000000
75%,90.000000,300.000000,7.000000,3.000000,3.000000,7.000000,7.000000,5.000000,7.000000,2.000000,7.000000,7.000000,9.000000,2.000000,58.000000
max,1200.000000,1440.000000,10.000000,4.000000,5.000000,10.000000,10.000000,10.000000,10.000000,3.000000,10.000000,10.000000,10.000000,2.000000,90.000000

In [23]:
%pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
  Using cached https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
  Preparing metadata (setup.py) ... done
Requirement already satisfied: scipy<1.10,>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling===dev) (1.7.3)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling===dev) (1.3.5)
Requirement already satisfied: matplotlib<3.7,>=3.2 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling===dev) (3.2.2)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling===dev) (1.10.4)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling===dev) (6.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling===dev) (2.11.3)
Requirement already satisfied: visions[type_image_path]==0.7.5 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling===dev) (0.7.5)
Requirement already satisfied: numpy<1.24,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling===dev) (1.21.6)
Requirement already satisfied: htmlmin==0.1.12 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling===dev) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling===dev) (0.12.3)
Requirement already satisfied: requests<2.29,>=2.24.0 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling===dev) (2.25.1)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling===dev) (4.64.1)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling===dev) (0.11.2)
Requirement already satisfied: multimethod<1.10,>=1.4 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling===dev) (1.9.1)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling===dev) (0.13.5)
Requirement already satisfied: typeguard<2.14,>=2.13.2 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling===dev) (2.13.3)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling===dev) (0.2.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling===dev) (3.0)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling===dev) (22.2.0)
Requirement already satisfied: Pillow in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling===dev) (7.1.2)
Requirement already satisfied: imagehash in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling===dev) (4.3.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2<3.2,>=2.11.1->pandas-profiling===dev) (2.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.7,>=3.2->pandas-profiling===dev) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.7,>=3.2->pandas-profiling===dev) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.7,>=3.2->pandas-profiling===dev) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.7,>=3.2->pandas-profiling===dev) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas!=1.4.0,<1.6,>1.1->pandas-profiling===dev) (2022.7)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.8/dist-packages (from phik<0.13,>=0.11.1->pandas-profiling===dev) (1.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.8/dist-packages (from pydantic<1.11,>=1.8.1->pandas-profiling===dev) (4.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling===dev) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling===dev) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling===dev) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling===dev) (4.0.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.8/dist-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling===dev) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.8/dist-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling===dev) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5.2->statsmodels<0.14,>=0.13.2->pandas-profiling===dev) (1.15.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.8/dist-packages (from imagehash->visions[type_image_path]==0.7.5->pandas-profiling===dev) (1.4.1)

In [24]:
# Gerando relatório de Análise Exploratório dos Dados

relatorio = ProfileReport(data_filtro)
relatorio

OSError: ignored

In [21]:
# Gráfico de barra com a quantidade de resposta por cada país e por gênero (1 = Homem | 2 = Mulher)

plt.figure(figsize=(12,5))
sns.countplot(x = "cntry", hue = "gndr", data = data_filtro)
plt.title("Entrevista por País")
plt.xlabel("País")
plt.ylabel("Respostas")

Text(0, 0.5, 'Respostas')

# Algoritmos de treinamento.

In [28]:
# Importando os pacotes.

from sklearn.datasets import load_breast_cancer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from scipy.stats import ks_2samp
from sklearn.metrics import roc_curve, auc

In [34]:
# Escolhendo a variável target e preparando os nossos dados.

X = data_filtro.loc[ : , data_filtro.columns!='trstplt']
y = data_filtro.trstplt

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,
                                                    random_state = 24)
print(f"Train Data: {X_train.shape}, {y_train.shape}")
print(f"Train Data: {X_test.shape}, {y_test.shape}")

classifier = RandomForestClassifier(random_state=18)
classifier.fit(X_train, y_train)

predictions = classifier.predict(X_test)